@import url("https://fonts.googleapis.com/css?family=Zhi+Mang+Xing&display=swap");
@-webkit-keyframes fillAnimation {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes fillAnimation {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-header {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #1d1d1d;
}

.main-header h1 {
  font-family: 'Zhi Mang Xing', cursive;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 2.5rem;
  color: #979797;
}

.main-header .logo {
  margin-top: auto;
  margin-bottom: auto;
}

.main-header .logo img {
  height: 80px;
}

@media only screen and (max-width: 768px) {
  .main-header {
    height: 100px;
  }
  .main-header h1 {
    font-size: 25px;
  }
  .main-header .logo img {
    height: 40px;
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 75vh;
}

.filled {
  -webkit-animation-name: fillAnimation;
          animation-name: fillAnimation;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

#grid {
  position: relative;
  min-height: 80vh;
  height: 100%;
  min-height: 400px;
  margin-top: 10px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: yellowgreen;
  overflow: hidden;
}

#grid table {
  position: absolute;
  float: right;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
  border-spacing: 20px;
  border-collapse: separate;
}

#grid table tbody tr td {
  width: 15px !important;
  height: 15px !important;
  border: 0.5px solid transparent;
  margin: 5px;
  background-color: #1d1d1d;
  border-radius: 50%;
  -webkit-box-shadow: 8px 8px 8px grey;
          box-shadow: 8px 8px 8px grey;
  -webkit-transition: all ease;
  transition: all ease;
  cursor: pointer;
}

.controls {
  padding: 10px;
  margin-top: 10px;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: antiquewhite;
  justify-content: center;
}

.deletedPoint {
  background-color: transparent !important;
  border: 1px solid red !important;
  -webkit-box-shadow: 0px 0px 0px transparent !important;
          box-shadow: 0px 0px 0px transparent !important;
}

#result {
  font-size: 20px;
  color: white;
  height: 40px;
  width: 100%;
  background-color: rgba(61, 192, 1, 0.356);
  text-align: center;
}

#result #NumRectangles {
  font-size: 25px;
  font-weight: bold;
  color: #dc3545;
}
/*# sourceMappingURL=main.css.map */